.ipynb_checkpoints
.DS_Store
**/.idea
**/__pycache__
**/*.pkl
**/*.zip
**/nipstxt
**/*.h5
**/*.gz
**/*.bz2
**/glove.840B.300d.txt
**/*.model
**/*.npy
**/glove.txt
projeto/wiki
**/*.dict
**/*.tgz
**/*.csv
**/*.id2word
**/*.state
**/dicionario_1
**/frases_1
**/modelo_1
